/* GLOBAL STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  /* font-size: 16px; */
  overflow-x: hidden;
}

body {
  font-family: "Mulish", sans-serif;
  /* color: #fff; */
  /* background: #0f1427; */
  text-rendering: optimizeLegibility;

  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

i,
a,
button {
  cursor: pointer;
}

/* FORM STYLES */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}
.form-control{
/*  height: 100vh;*/
  background-color: white;
  display: flex;
  justify-content: center;
}
.form {
  width: 500px;
height: 500px;
  background-color: rgba(21, 177, 117, 0.99);
  border-radius: 5px;
  margin: 20px auto;
padding: 30px 40px;
}

.input {
  width: 90%;
  margin: 10px;
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
}

input {
  margin: 10px;
}
.submit {
  width: 50%;
  padding: 15px 5px;
  margin: 30px 95px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: white;
}
.submit:hover {
  background-color: #e5e5e5;
}
.submit:active {
  background-color: #ffebac;
}
/*----------------------------------------------------------------------------------*/
/* FOOTER */
/*----------------------------------------------------------------------------------*/
.footer-override {
  background-color: rgba(21, 177, 117, 0.99);
  padding: 10px;
  font-size: 100%;
  color: #fff;
    margin-top:285px;
}

.footer-nav {
  list-style: none;
  float: left;
  text-decoration: none;
}
.footer-override p {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  padding-left: 40px;
}

/* copyright*/

.copy p {
  text-align: center;
  vertical-align: middle;
}
/*row*/
.row {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 420px) {
  .submit {
    width: 45%;
    padding: 15px 5px;
    margin: 30px 0 30px 70px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: white;
  }
}