/* GLOBAL STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  /* font-size: 16px; */
  overflow-x: hidden;
}

body {
  font-family: "Mulish", sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

input{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
.button {
  align-items: center;
  padding: 17px 26px;
  border-radius: 4px;
  background: #1DB954;
  color: #fbfbfb;
  letter-spacing: 1.75px;
  line-height: 20px;
  font-size: 11px;
  display: block;
  width: fit-content;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all .5s;
}
.button_wide{
   min-width: 100%;
}
.button--blue-white {
  background-color: #1DB954;
  border: 2px solid transparent;
  color: #fff;
}
.button--blue-white:hover {
   background-color: #19ba2e;
 }
.login__row {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}
.login-side {
  margin-top: 30px;
  text-align: center;
}
.login-side__logo {
  width: 50px;
}
.login__col {
  padding: 80px;
}
.login__col.login-form {
  padding: 80px 100px;
}
.login__col .login-form__signup {
  text-align: right;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: auto;
}
.login__col .login-form__signup a {
  color: #1DB954;
}
.login__col:first-child {
  flex: 0 0 45%;
  width: 45%;
  background-size: cover;
  background-position-x: center;
}
.login__signin-img {
  background: url("./resources/img/phone.jpg");
}
.login__col:nth-child(2) {
  flex: 0 0 55%;
  width: 55%;
}
.login__logo {
  display: none;
  margin-bottom: 25px;
}
.login__logo img {
  width: 150px;
}
.login__col:first-child .login__logo {
  display: none;
}
.login__title {
  margin-bottom: 16px;
}
.login__preview {
  position: absolute;
  top: 270px;
  left: -370px;
  width: 1380px;
  pointer-events: none;
}
.login__preview img {
  width: 100%;
}
.login__form-div {
  display: flex;
  padding: 0 40px;
  height: 100%;
  align-items: center;
}
.login__form {
  position: relative;
  z-index: 3;
  max-width: 512px;
}
.login__form-desc {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #808191;
}
.login__stage {
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 50px;
  line-height: 52px
}
.login__field:not(:last-child) {
  margin-bottom: 20px;
}
.field__label {
  margin-bottom: 5px;
}
.field__input {
  height: 56px;
  width: 100%;
  padding: 0 20px;
  border-radius: 8px;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  color: #11142d;
  border: 2px solid rgba(228, 228, 228, .5);
  transition: all 0.5s;
}
.field__input:focus {
  border-color: #1DB954;
}
.login__links:not(:last-child) {
  margin-bottom: 30px;
  text-align: right;
}
.login__link {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  color: #1DB954;
  transition: color 0.2s;
}
.login__link .icon {
  margin-right: 12px;
  transition: fill 0.2s;
}
.login__link:hover {
  color: #11142d;
}
.login__btn {
  font-size: 15px;
  padding: 14px 26px;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login__social-text {
  margin: 30px 0;
}
.login__social-button {
  width: 56%;
  font-size: 14px;
  display: flex;
  font-weight: bold;
  border-radius: 5px;
  padding: 14px 26px;
  justify-content: space-between;
}
.login__social-button img {
  width: 17px;
}
.login__text {
  font-size: 14px;
  font-weight: 700;
  color: #808191;
}
.login__note {
  margin-bottom: 32px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33333;
  color: #808191;
}
.login__note a {
  color: #1DB954;
}
.login__note a:hover {
  text-decoration: underline;
}
.login__steps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
.login__steps-wizard {
  display: flex;
}
.login__steps-wizard-second {
  display: none;
}
@media (max-width: 1280px) {
  .login__col {
    padding: 48px;
  }
  .login__col:first-child {
    display: none;
  }
  .login__col:nth-child(2) {
    flex: 0 0 100%;
    width: 100%;
  }
  .login__logo {
    display: block;
  }
  .login__preview {
    left: -130%;
  }
  .login__col.login-form {
    padding: 80px 40px;
  }
  .login__form-div{
    justify-content: center;
  }
  .login__form{
    max-width: 100%;
  }
}
@media (max-width: 1179px) {
  .steps ul li {
    width: 120px;
  }
}
@media (max-width: 992px) {
  .login__row {
    justify-content: center;
    align-items: center;
    padding: 24px;
  }
  .login__col {
    padding: 0;
  }
  .login__col:nth-child(2) {
    display: none;
  }
  .login__col:nth-child(3) {
    flex: 0 0 700px;
    width: 700px;
  }
  .login__col:nth-child(3) .login__logo {
    display: inline-block;
  }
  .login__preview {
    display: none;
  }
  .login__form {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .login__form-div {
    padding: 20px 0;
  }
  .login__row {
    display: block;
    padding: 24px 10px;
  }
  .login__col:nth-child(3) {
    width: 100%;
  }
  .login__verify {
    margin-bottom: 24px;
  }
  .login__note {
    margin-bottom: 24px;
  }
  .login__col.login-form {
    padding: 0 10px;
  }
  .login__social-text {
    margin: 20px 0;
  }
  .login__social-button {
    width: 100%;
  }
  .login__links:not(:last-child) {
    margin-bottom: 10px;
  }
}
